.elementor-26321 .elementor-element.elementor-element-4ec27ddb > .elementor-container {
    max-width: 1260px;
}

.elementor-26321 .elementor-element.elementor-element-4ec27ddb:not(.elementor-motion-effects-element-type-background), .elementor-26321 .elementor-element.elementor-element-4ec27ddb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FAFAFA;
}

.elementor-26321 .elementor-element.elementor-element-4ec27ddb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 20px;
}

    .elementor-26321 .elementor-element.elementor-element-4ec27ddb > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-26321 .elementor-element.elementor-element-4be8e5dd:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-26321 .elementor-element.elementor-element-4be8e5dd > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FAFAFA;
}

.elementor-26321 .elementor-element.elementor-element-4be8e5dd > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-26321 .elementor-element.elementor-element-4be8e5dd > .elementor-element-populated > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-button {
    display: inline-block;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-1 .eael-pricing-item.featured:before {
    content: "MOST POPULAR";
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-2 .eael-pricing-item.featured:before {
    content: "MOST POPULAR";
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-3 .eael-pricing-item.featured:before {
    content: "MOST POPULAR";
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-4 .eael-pricing-item.featured:before {
    content: "MOST POPULAR";
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-5 .eael-pricing-item.featured:before {
    content: "MOST POPULAR";
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-5 .eael-pricing-image.featured:before {
    content: "MOST POPULAR";
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing .eael-pricing-item {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #D7D7D7;
    border-radius: 20px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-item .header .title {
    color: #4880FF;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5em;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-3 .eael-pricing-item:hover .header:after {
    background: #4880FF;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-1 .eael-pricing-item .header:after, .elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-3 .eael-pricing-item .header:after {
    background: #dbdbdb;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-item .eael-pricing-tag .price-tag .original-price, .elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #1B1B1B;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-item .eael-pricing-tag .price-tag .original-price {
    font-size: 35px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-item .eael-pricing-tag .price-tag .sale-price, .elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #00C853;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-item .body ul li {
    color: #282828;
}

    .elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-item .body ul li .li-icon img {
        height: 20px;
        width: 20px;
    }

    .elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing-item .body ul li .li-icon i {
        font-size: 20px;
    }

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-1 .eael-pricing-item.ribbon-2:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-2 .eael-pricing-item.ribbon-2:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-3 .eael-pricing-item.ribbon-2:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-4 .eael-pricing-item.ribbon-2:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-5 .eael-pricing-item.ribbon-2:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-5 .eael-pricing-image.ribbon-2:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-1 .eael-pricing-item.ribbon-3:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-2 .eael-pricing-item.ribbon-3:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-3 .eael-pricing-item.ribbon-3:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-4 .eael-pricing-item.ribbon-3:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-5 .eael-pricing-item.ribbon-3:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing.style-5 .eael-pricing-image.ribbon-3:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing .eael-pricing-item.ribbon-4:before {
    font-size: 10px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing .eael-pricing-image.ribbon-4:before {
    font-size: 10px;
}

div.tooltipster-base.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
div.tooltipster-base.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #3d3d3d;
}

div.tooltipster-base.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border, .tooltipster-base.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #3d3d3d;
}

div.tooltipster-base.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border,
div.tooltipster-base.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #3d3d3d;
}

div.tooltipster-base.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border,
div.tooltipster-base.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #3d3d3d;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing .eael-pricing-button img {
    height: 1px;
    width: 1px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing .eael-pricing-button i {
    font-size: 1px;
}

.elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing .eael-pricing-button {
    color: #FFFFFF;
    background: #4880FF;
    border-radius: 50px;
}

    .elementor-26321 .elementor-element.elementor-element-7b8c080a .eael-pricing .eael-pricing-button:hover {
        color: #f9f9f9;
        background: #44C6D9;
    }

.elementor-26321 .elementor-element.elementor-element-63c79d63:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-26321 .elementor-element.elementor-element-63c79d63 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FAFAFA;
}

.elementor-26321 .elementor-element.elementor-element-63c79d63 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-26321 .elementor-element.elementor-element-63c79d63 > .elementor-element-populated > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-button {
    display: inline-block;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing .eael-pricing-item {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #D7D7D7;
    border-radius: 20px;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-item .header .title {
    color: #4880FF;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3em;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing.style-3 .eael-pricing-item:hover .header:after {
    background: #4880FF;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing.style-1 .eael-pricing-item .header:after, .elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing.style-3 .eael-pricing-item .header:after {
    background: #dbdbdb;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-item .eael-pricing-tag .price-tag .original-price, .elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #1B1B1B;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-item .eael-pricing-tag .price-tag .original-price {
    font-size: 35px;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-item .eael-pricing-tag .price-tag .sale-price, .elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #00C853;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-item .body ul li {
    color: #282828;
}

    .elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-item .body ul li .li-icon img {
        height: 20px;
        width: 20px;
    }

    .elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing-item .body ul li .li-icon i {
        font-size: 20px;
    }

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing .eael-pricing-button img {
    height: 1px;
    width: 1px;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing .eael-pricing-button i {
    font-size: 1px;
}

.elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing .eael-pricing-button {
    color: #FFFFFF;
    background: #4880FF;
    border-radius: 50px;
}

    .elementor-26321 .elementor-element.elementor-element-494d2e89 .eael-pricing .eael-pricing-button:hover {
        color: #f9f9f9;
        background: #44C6D9;
    }

.elementor-26321 .elementor-element.elementor-element-b6811a3:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-26321 .elementor-element.elementor-element-b6811a3 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FAFAFA;
}

.elementor-26321 .elementor-element.elementor-element-b6811a3 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-26321 .elementor-element.elementor-element-b6811a3 > .elementor-element-populated > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-button {
    display: inline-block;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing .eael-pricing-item {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #D7D7D7;
    border-radius: 20px;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-item .header .title {
    color: #4880FF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.3em;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing.style-3 .eael-pricing-item:hover .header:after {
    background: #4880FF;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing.style-1 .eael-pricing-item .header:after, .elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing.style-3 .eael-pricing-item .header:after {
    background: #dbdbdb;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-item .eael-pricing-tag .price-tag .original-price, .elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #1B1B1B;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-item .eael-pricing-tag .price-tag .original-price {
    font-size: 35px;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-item .eael-pricing-tag .price-tag .sale-price, .elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #00C853;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-item .body ul li {
    color: #282828;
}

    .elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-item .body ul li .li-icon img {
        height: 20px;
        width: 20px;
    }

    .elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing-item .body ul li .li-icon i {
        font-size: 20px;
    }

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing .eael-pricing-button img {
    height: 1px;
    width: 1px;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing .eael-pricing-button i {
    font-size: 1px;
}

.elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing .eael-pricing-button {
    color: #FFFFFF;
    background: #4880FF;
    border-radius: 50px;
}

    .elementor-26321 .elementor-element.elementor-element-1b03165e .eael-pricing .eael-pricing-button:hover {
        color: #f9f9f9;
        background: #44C6D9;
    }
